footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1900px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}


/* MY CODE */


.footer{
  /* padding:0;
  margin:0;
  width:100%; */
  background-color: #ffffff;
  color:#9a9999;
  line-height:2.5;
  height:auto;
}
.footer a{
  color:black;
}
.footer .section:nth-of-type(1) ul{
  /* background-color: blue; */
  display:flex;
  flex-wrap:wrap;
  /* flex-direction:column; */
  gap:10px;
  list-style: none;
  text-align:left;
  font-size:14px;
  box-sizing: border-box;
  /* grid-template-columns:repeat(2,1fr); */
 
}
.footer .section:nth-of-type(1) ul li{
  flex: 1 1 calc(50% - 10px);
}

.footer .section:nth-of-type(1) ul li:first-child{
  /* background-color: blue; */
 font-weight:500;
 color:#111827;
  /* grid-template-columns: repeat(3,auto); */
}

.footer .section:nth-of-type(2) ul{
    /* background-color: blue; */
    display:grid;
    place-items: center;
    list-style: none;
    text-align:center;
    font-size:14px;
    /* grid-template-columns: repeat(3,auto); */
}

@media (width >= 900px) {
  .footer .section:nth-of-type(2) ul {
      grid-template-columns:repeat(3,auto);
      /* grid-auto-flow: dense; */
  direction: rtl;
  }
}

.footer .section:nth-of-type(2) ul li{
  margin:10px;
}

.footer .section:nth-of-type(1) ul li img{
  width:20px;
  height:20px;

}
.footer .section:nth-of-type(2) ul li img{
  width:102px;
  height:18px;

}